<div class="nncard news-item">
    <a href="{{url}}" class="news-item-link">
        <img class="news-item-link__image" src="{{imageUrl}}" width="115" height="67" alt="">
        <span class="news-item-link__click-area"></span>
    </a>

    <div class="header news-item-caption">
        <strong class="news-item-caption__category">{{time}}</strong>
        <h4 class="news-item-caption__text">{{{ caption }}}</h4>
    </div>
</div>